.header{
    background-color: skyblue;
    display: flex;
    padding: 10px;
}
.header .header1{
    margin-right: auto;
    background-color: antiquewhite;
    padding: 5px;
}
.header .header2{
    background-color: rgb(215, 250, 220);
    padding: 5px;
    position: relative;
}
.header2 .counter{
    position:absolute;
    top: -10px;
    right: -8px;
    width: 22px;
    height: 22px;
    background-color: blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}